 <!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <link href="{% static "css/multi-select.css" %}" media="screen" rel="stylesheet" type="text/css">
    <script src="{% static "js/jquery.multi-select.js" %}"></script>
    <script src="{% static "js/jquery.quicksearch.js" %}"></script>

<div id="empty_form" style="display:none">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="col-md-10">Contact person</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-6 form-group">
              {{ stopformset.empty_form.name.label_tag }}
              {{ stopformset.empty_form.name.errors }}
              {{ stopformset.empty_form.name }}

              {{ stopformset.empty_form.startTime.label_tag }}
              {{ stopformset.empty_form.startTime.errors }}
              {{ stopformset.empty_form.startTime }}

              {{ stopformset.empty_form.duration.label_tag }}
              {{ stopformset.empty_form.duration.errors }}
              {{ stopformset.empty_form.duration }}

              {{ stopformset.empty_form.description.label_tag }}
              {{ stopformset.empty_form.description.errors }}
              {{ stopformset.empty_form.description }}
          </div>
          <div class="col-md-6 form-group">
            {{ stopformset.empty_form.suplier.label_tag }}
            {{ stopformset.empty_form.suplier.errors }}
            {{ stopformset.empty_form.suplier }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="" method="POST" id="addguide">
{% csrf_token %}
  <h1>Add tour</h1>
  <div class="panel panel-group">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-6">
          <!--GENERAL PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">General information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-12 form-group">
                      {{ tourform.title.label_tag }}
                      {{ tourform.title.errors }}
                      {{ tourform.title }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ tourform.city.label_tag }}
                    {{ tourform.city.errors }}
                    {{ tourform.city }}
                  </div>
                  <div class="col-md-6 form-group">
                    {{ tourform.kind.label_tag }}
                    {{ tourform.kind.errors }}
                    {{ tourform.kind }}
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                      {{ tourform.description.label_tag }}
                      {{ tourform.description.errors }}
                      {{ tourform.description }}
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDGENERAL PANEL-->
        </div>
        <div class="col-md-6">
          <!--EXTRA PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">Extra information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-4 form-group">
                      {{ tourform.duration.label_tag }}
                      {{ tourform.duration.errors }}
                      {{ tourform.duration }}
                  </div>
                  <div class="col-md-4 form-group">
                      {{ tourform.minGroup.label_tag }}
                      {{ tourform.minGroup.errors }}
                      {{ tourform.minGroup }}
                  </div>
                  <div class="col-md-4 form-group">
                      {{ tourform.maxGroup.label_tag }}
                      {{ tourform.maxGroup.errors }}
                      {{ tourform.maxGroup }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDEXTRA PANEL-->
          <!--PRICE PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">Price information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-6 form-group">
                      {{ tourform.pricePerson.label_tag }}
                      {{ tourform.pricePerson.errors }}
                      {{ tourform.pricePerson }}
                  </div>
                  <div class="col-md-6 form-group">
                      {{ tourform.priceChild.label_tag }}
                      {{ tourform.priceChild.errors }}
                      {{ tourform.priceChild }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDPRICE PANEL-->
        </div>
      </div>
    </div>
    </div>
  <!--ADD PANEL-->
  {{ stopformset.management_form }}
  <div id="form_set">
  {% for stopform in stopformset %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="col-md-10">Add stop</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-6 form-group">
              {{ stopform.name.label_tag }}
              {{ stopform.name.errors }}
              {{ stopform.name }}

              {{ stopform.startTime.label_tag }}
              {{ stopform.startTime.errors }}
              {{ stopform.startTime }}

              {{ stopform.duration.label_tag }}
              {{ stopform.duration.errors }}
              {{ stopform.duration }}

              {{ stopform.description.label_tag }}
              {{ stopform.description.errors }}
              {{ stopform.description }}
            </div>
            <div class="col-md-6 form-group">
              <select id='custom-headers' multiple='multiple'>
                <option value='elem_1' selected>elem 1</option>
                <option value='elem_2'>elem 2</option>
                <option value='elem_3'>elem 3</option>
                <option value='elem_4' selected>elem 4</option>
                <option value='elem_100'>elem 100</option>
              </select>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
      <input type="button" class="btn btn-primary" value="add more stop" id="add_more">
      <input type="button" class="btn btn-danger" value="delete last stop" id="delete">
  <script>


      $("#add_more").click(function() {
          var form_idx = $('#id_stop_set-TOTAL_FORMS').val();
          $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
          $('#id_stop_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      });

      $("#delete").click(function() {
        var form_idx = $('#id_stop_set-TOTAL_FORMS').val();
        if ($('#id_stop_set-TOTAL_FORMS').val() > 1 && $('.panel.panel-default:last').id !== 'empty_form')
        {
            $('.panel.panel-default:last').remove();
            $('#id_stop_set-TOTAL_FORMS').val(parseInt(form_idx) - 1);
        }
      });

      $('#custom-headers').multiSelect({
        selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"12\"'>",
        selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"4\"'>",
        afterInit: function(ms){
          var that = this,
              $selectableSearch = that.$selectableUl.prev(),
              $selectionSearch = that.$selectionUl.prev(),
              selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
              selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

          that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
          .on('keydown', function(e){
            if (e.which === 40){
              that.$selectableUl.focus();
              return false;
            }
          });

          that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
          .on('keydown', function(e){
            if (e.which == 40){
              that.$selectionUl.focus();
              return false;
            }
          });
        },
        afterSelect: function(){
          this.qs1.cache();
          this.qs2.cache();
        },
        afterDeselect: function(){
          this.qs1.cache();
          this.qs2.cache();
        }
      });

  </script>

  <!--ENDL PANEL-->
</form>


<button type="submit" class="btn btn-success" form="addguide" style="float:right">Add tour</button>

{% endblock %}
