<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{{ stopformset.management_form }}
<div id="form_set">
{% for stopform in stopformset %}

  <div class="panel panel-default">
    <div class="panel-heading">
      {% url 'manage_tours:delete_stop' stopform.id.value as delete %}
      <a href="{{delete}}"><input type="button" class="btn btn-danger" value="Delete stop"></a>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopform.name.label_tag }}
            {{ stopform.name.errors }}
            {{ stopform.name }}
          </div>
          <div class="col-md-6 form-group">
            {{ stopform.suplier.label_tag }}
            {{ stopform.suplier.errors }}
            {{ stopform.suplier }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopform.startTime.label_tag }}
            {{ stopform.startTime.errors }}
            {{ stopform.startTime }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopform.duration.label_tag }}
            {{ stopform.duration.errors }}
            {{ stopform.duration }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 form-group">
            {{ stopform.description.label_tag }}
            {{ stopform.description.errors }}
            {{ stopform.description }}
          </div>
        </div>
      </div>

    </div>
  </div>

{% endfor %}
</div>

{% endblock %}
