<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">
  <div class="col-xs-6 col-md-4">
    <h1>Tours</h1>
  </div>
  <div class="col-xs-6 col-md-5" style="margin-top: 20px">
    <form id="formsearch" action="" method="post">
      {% csrf_token %}
      <input name="search" type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
  <div class="col-xs-6 col-md-3" style="margin-top: 20px">
    <button type="submit" form="formsearch" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>

<table class="table table-condensed">

  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Type</th>
    <th>Duration</th>
    <th>Stops</th>
    <th>
      {% url 'manage_tours:add_tour' as add %}
      <a href="{{ add }}"><button class="btn btn-success"><i class="fa fa-plus"></i></button></a>
    </th>
  </tr>
  {% for tour in Tours %}
  <tr>
      <td>{{ tour.title }}</td>
      <td>{{ tour.city }}</td>
      <td>{{ tour.kind }} </td>
      <td>{{ tour.duration }}</td>
      {% url 'manage_tours:show_stops' tour.id as show %}
      <td><a href="{{ show }}"><button class="btn btn-info"><i class="fa fa-eye"></i></button></a></td>
      <td>
        {% url 'manage_tours:edit_tour' tour.id as edit %}
        {% url 'manage_tours:delete_tour' tour.id as delete %}
          <a href="{{ edit }}">
            <button class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i>
            </button>
          </a>
          <a href="{{ delete }}">
            <button class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </button>
          </a>
      </td>
  </tr>
  {% endfor %}
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% endblock %}
