<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="CleverAdmin - Bootstrap Admin Template">
			<meta name="author" content="Łukasz Holeczek">
			<meta name="keyword" content="CleverAdmin, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
			<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
			<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
			<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
			<link rel="shortcut icon" href="{% static "ico/favicon.png" %}">

	    <title>cleverAdmin - Bootstrap Admin Template</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

			<!-- page css files -->
			<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
			<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
			<link href="{% static "css/custom.css" %}" rel="stylesheet">
	</head>

<body>
		<!-- start: Header -->
	<div class="navbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar">a</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="page-profile.html#">
					<img src="{% static "img/logo.png" %}"> cleverAdmin
				</a>
	    </div>
			<ul class="nav navbar-nav navbar-actions navbar-left">
				<li><a href="page-profile.html#" id="main-menu-toggle"><i class="fa fa-bars"></i></a></li>
			</ul>
	      <ul class="nav navbar-nav navbar-right">

					<li><a href="page-profile.html#"><i class="fa fa-cog"></i></a></li>
					<li><a href="page-profile.html#"><i class="fa fa-cog"></i></a></li>
					<li><a href="logout"><i class="fa fa-power-off"></i></a></li>

			</ul>

		</div>
	</div>
	<!-- end: Header -->

		<div class="container-fluid content">
		<div class="row">

			<!-- start: Main Menu -->
			<div class="sidebar col-md-2 col-sm-1 ">

				<div class="sidebar-collapse collapse">
					<div class="nav-sidebar title"><span>Main Menu</span></div>
					<ul class="nav nav-sidebar">

						<li><a href="index.html"><span class="hidden-sm text"> New booking</span></a></li>
						<li><a href="{% url 'manage_guides:index' %}"><span class="hidden-sm text"> Guides</span></a></li>
						<li><a href="{% url 'manage_tours:index' %}"><span class="hidden-sm text"> Tours</span></a></li>
						<li><a href="{% url 'manage_suppliers:index' %}"><span class="hidden-sm text"> Suppliers</span></a></li>
						<li><a href="index.html"><span class="hidden-sm text"> Organisations</span></a></li>
						<li><a href="index.html"><span class="hidden-sm text"> Individuals</span></a></li>

					</ul>
				</div>
				<a href="page-profile.html#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
			</div>

			<!-- end: Main Menu -->

			<!-- start: Content -->

			<div class="col-md-10 col-sm-11 main ">

		 {% block content %}
		 {% endblock %}

			</div>
			<!-- end: Content -->
		</div><!--/row-->


	</div><!--/container-->


	<div class="clearfix"></div>

	<footer>


	</footer>

	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>

	<!--<![endif]-->

	<!--[if IE]>

		<script src="assets/js/jquery-1.11.0.min.js"></script>

	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='js/jquery-2.1.0.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>


	<!-- page scripts -->
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/script.js" %}"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->
	<script src="{% static "js/Chart.min.js" %}"></script>
	<script src="{% static "js/jquery.easy-pie-chart.min.js" %}"></script>

	<!-- theme scripts -->
	<script src="{% static "js/custom.min.js" %}"></script>
	<script src="{% static "js/core.min.js" %}"></script>

	<!-- inline scripts related to this page -->


	<!-- end: JavaScript-->

</body>
</html>
