
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}	
<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="CleverAdmin - Bootstrap Admin Template">
		<meta name="author" content="Łukasz Holeczek">
		<meta name="keyword" content="CleverAdmin, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	    <title>cleverAdmin - Bootstrap Admin Template</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

		<!-- page css files -->
		<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
		<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
		<link href="{% static "css/custom.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
	</head>
</head>

<body>
				
	<div class="login-box">
					
		<div class="header">
			Create your account
		</div>
		<fieldset>			
			<form class="form-horizontal register" action="" method="post" id="registration">
				{% csrf_token %}
				<div id="formset">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ AccountForm.email.label_tag }}
								{{ AccountForm.email }}		
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">		
								{{ AccountForm.password.label_tag }}
								{{ AccountForm.password }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ AccountForm.first_name.label_tag }}
								{{ AccountForm.first_name }}	
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">		
								{{ AccountForm.last_name.label_tag }}
								{{ AccountForm.last_name }}
							</div>
						</div>
					</div>

					<div class="form-group">
						{{ AccountForm.phoneNumber.label_tag }}
						{{ AccountForm.phoneNumber }}
					</div>
					<div class="form-group">
						<label><input type="checkbox" id="guideshow">Guide</label>
					</div>


					<div id="guide" style="display:none">
						<div class="form-group">
							{{ GuideForm.country.label_tag }}
							{{ GuideForm.country }}	
						</div>
						<div class="form-group">
							{{ GuideForm.city.label_tag }}
							{{ GuideForm.city }}	
						</div>
						<div class="form-group">
							{{ GuideForm.language.label_tag }}
							{{ GuideForm.language }}	
						</div>
						<div class="form-group">
							{{ GuideForm.paymentMethod.label_tag }}
							{{ GuideForm.paymentMethod }}	
						</div>
					</div>
				</div>	
				<button type="submit" class="btn btn-primary btn-lg col-xs-12" form="registration">Create Account!</button>		
			
				<div class="row">
				{% url 'registrations:login' as signin%}
				<center><h3>Do you have account? <a href="{{signin}}">Sign in</a></h3></center>
				</div>
			</form>		
		</fieldset>							
				
	</div>
	<script>
		$('#guideshow').change(function() {
			if ($(this).is(':checked'))
				$('#guide').attr("style", "display:block");
			else 
				$('#guide').attr("style", "display:none");
		});
	</script>

	<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>


	<!-- page scripts -->
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/script.js" %}"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->
	<script src="{% static "js/Chart.min.js" %}"></script>
	<script src="{% static "js/jquery.easy-pie-chart.min.js" %}"></script>

	<!-- theme scripts -->
	<script src="{% static "js/custom.min.js" %}"></script>
	<script src="{% static "js/core.min.js" %}"></script>
	
</body>
</html>