
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}	
<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="CleverAdmin - Bootstrap Admin Template">
		<meta name="author" content="Łukasz Holeczek">
		<meta name="keyword" content="CleverAdmin, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	    <title>cleverAdmin - Bootstrap Admin Template</title>

	    <!-- Bootstrap core CSS -->
	    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

		<!-- page css files -->
		<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
		<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
		<link href="{% static "css/custom.css" %}" rel="stylesheet">
		<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
	</head>
</head>

<body>
				
	<div class="login-box">
					
		<div class="header">
			Enter your account
		</div>
		<fieldset>			
			<form class="form-horizontal register" action="{% url 'registrations:login' %}" method="post" id="signin">
				{% csrf_token %}

				<div class="form-group">
					{{ form.username.label_tag }}
					{{ form.username }}	
					{{ form.username.errors }}	
				</div>
				<div class="form-group">		
					{{ form.password.label_tag }}
					{{ form.password }}
					{{ form.password.errors }}
				</div>

				<button class="btn btn-primary btn-lg col-xs-12" form="signin">Sign in</button>		
			
			</form>		
		</fieldset>							
				
	</div>


	<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>


	<!-- page scripts -->
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/script.js" %}"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->
	<script src="{% static "js/Chart.min.js" %}"></script>
	<script src="{% static "js/jquery.easy-pie-chart.min.js" %}"></script>

	<!-- theme scripts -->
	<script src="{% static "js/custom.min.js" %}"></script>
	<script src="{% static "js/core.min.js" %}"></script>
	
</body>
</html>