<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="empty_form" style="display:none">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="col-md-10">Contact person</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-4 form-group">
            {{ contactformset.empty_form.firstName.label_tag }}
            {{ contactformset.empty_form.firstName.errors }}
            {{ contactformset.empty_form.firstName }}
          </div>
          <div class="col-md-4 form-group">
            {{ contactformset.empty_form.email.label_tag }}
            {{ contactformset.empty_form.email.errors }}
            {{ contactformset.empty_form.email }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            {{ contactformset.empty_form.lastName.label_tag }}
            {{ contactformset.empty_form.lastName.errors }}
            {{ contactformset.empty_form.lastName }}
          </div>
          <div class="col-md-4 form-group">
            {{ contactformset.empty_form.phoneNumber.label_tag }}
            {{ contactformset.empty_form.phoneNumber.errors }}
            {{ contactformset.empty_form.phoneNumber }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="" method="POST" id="editsupplier">
  {% csrf_token %}
  <h1>Edit supplier</h1>
  <!-- GENERAL PANEL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="col-md-10">General information</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-4 form-group">
            {{ supplierform.name.label_tag }}
            {{ supplierform.name.errors }}
            {{ supplierform.name }}
          </div>
          <div class="col-md-4 form-group">
            {{ supplierform.address.label_tag }}
            {{ supplierform.address.errors }}
            {{ supplierform.address }}
          </div>
          <div class="col-md-4 form-group">
            {{ supplierform.country.label_tag }}
            {{ supplierform.country.errors }}
            {{ supplierform.country }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            {{ supplierform.kind.label_tag }}
            {{ supplierform.kind.errors }}
            {{ supplierform.kind }}
          </div>
          <div class="col-md-4 form-group">
            {{ supplierform.postCode.label_tag }}
            {{ supplierform.postCode.errors }}
            {{ supplierform.postCode }}
          </div>
          <div class="col-md-4 form-group">
            {{ supplierform.city.label_tag }}
            {{ supplierform.city.errors }}
            {{ supplierform.city }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ENDGENERAL PANEL -->
  <!-- TOURS PANEL -->
  <div class="panel panel-default" id="tours_panel">
    <div class="panel-heading">
      <h2 class="col-md-10">Tours</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content" id="tours">
      {% for tour in supplierform.tour %}
        {{ tour }}
        <br>
      {% endfor %}
      </div>
    </div>
  </div>
  <!-- ENDTOURS PANEL -->
  <div class="panel panel-group">
    <div class="tab-content">
      <div class="row">
        <!-- CONTACTINFO PANEL -->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-10">Contact information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ supplierform.email.label_tag }}
                    {{ supplierform.email.errors }}
                    {{ supplierform.email }}
                  </div>
                  <div class="col-md-6 form-group">
                    {{ supplierform.phoneNumber.label_tag }}
                    {{ supplierform.phoneNumber.errors }}
                    {{ supplierform.phoneNumber }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ENDCONTACTINFO PANEL -->
        <!-- EXTRA PANEL -->
        <div class="col-md-6">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="col-md-10">Extra inforamtion</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ supplierform.minGroup.label_tag }}
                    {{ supplierform.minGroup.errors }}
                    {{ supplierform.minGroup }}
                  </div>
                  <div class="col-md-6 form-group">
                    {{ supplierform.maxGroup.label_tag }}
                    {{ supplierform.maxGroup.errors }}
                    {{ supplierform.maxGroup }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- ENDEXTRA PANEL -->
    </div>
  </div>

  <!-- CONTACTPERSON PANEL -->
  {{ contactformset.management_form }}
  <div id="form_set">
  {% for contactform in contactformset %}
  <div class="panel panel-default">
  {{ contactform.id }}
  <div class="panel-heading">
    <h2 class="col-md-10">Contact person</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-4 form-group">
            {{ contactform.firstName.label_tag }}
            {{ contactform.firstName.errors }}
            {{ contactform.firstName }}
          </div>
          <div class="col-md-4 form-group">
            {{ contactform.email.label_tag }}
            {{ contactform.email.errors }}
            {{ contactform.email }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            {{ contactform.lastName.label_tag }}
            {{ contactform.lastName.errors }}
            {{ contactform.lastName }}
          </div>
          <div class="col-md-4 form-group">
            {{ contactform.phoneNumber.label_tag }}
            {{ contactform.phoneNumber.errors }}
            {{ contactform.phoneNumber }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <!-- ENDCONTACTPERSON PANEL -->
 
  <input type="button" class="btn btn-primary" value="add more stop" id="add_more">
  <input type="button" class="btn btn-danger" value="delete last stop" id="delete">

  <script>
    $("#add_more").click(function() {
        var form_idx = $('#id_contactperson_set-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_contactperson_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });

    $("#delete").click(function() {
      var form_idx = $('#id_contactperson_set-TOTAL_FORMS').val();
      if ($('#id_contactperson_set-TOTAL_FORMS').val() > 1 && $('.panel.panel-default:last').id !== 'empty_form')
      {
          $('.panel.panel-default:last').remove();
          $('#id_contactperson_set-TOTAL_FORMS').val(parseInt(form_idx) - 1);
      }
    });

    $('#id_city').change(function() {
      $('#tours').empty();
      $.ajax({
          url: "{% url 'manage_suppliers:get_tours_edit' %}",
          type: "GET",
          data: { city_id: $(this).val(), supplier_id: {{ supplier_id }} },

          success: function(responce) {
            responce.data.tours.forEach(function(entry) {
              if (entry[2])
                $("#tours").append("<label><input type='checkbox' name='tour' value="+entry[0]+" checked> "+entry[1]+"</label><br>");
              else
                $("#tours").append("<label><input type='checkbox' name='tour' value="+entry[0]+"> "+entry[1]+"</label><br>");
            });
          }
      });
    });
  </script>
</form>

<button type="submit" class="btn btn-success" form="editsupplier" style="float:right" >Edit supplier</button>


{% endblock %}
