<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table class="table table-condensed">
  <h1>Suppliers</h1>
  <tr>
    <th>Company</th>
    <th>Address</th>
    <th>Mobile phone</th>
    <th>Post code</th>
    <th>Max group</th>
    <th>City</th>
    <th>
      {% url 'manage_suppliers:add_supplier' as add %}
      <a href="{{add}}"><button class="btn btn-success"><i class="fa fa-plus"></i></button></a>
    </th>
  </tr>
  {% for supplier in Suppliers %}
  <tr>
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.address }}</td>
      <td>{{ supplier.phoneNumber }} </td>
      <td>{{ supplier.postCode }}</td>
      <td>{{ supplier.maxGroup }}</td>
      <td>{{ supplier.city }}</td>
      <td>
        {% url 'manage_suppliers:edit_supplier' supplier.id as edit %}
        {% url 'manage_suppliers:delete_supplier' supplier.id as delete %}
        <a href="{{edit}}"><button class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button></a>
        <a href="{{delete}}"><button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></a>
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
