<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form action="" method="POST" id="editguide">
  {% csrf_token %}
 <h1>Edit guide</h1>
  <div class="panel panel-default">

  <div class="panel-heading">
    <h2 class="col-md-10">General information</h2>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-4 form-group">
          {{ accountForm.first_name.label_tag }}
          {{ accountForm.first_name.errors }}
          {{ accountForm.first_name }}
        </div>
        <div class="col-md-4 form-group">
          {{ accountForm.phoneNumber.label_tag }}
          {{ accountForm.phoneNumber.errors }}
          {{ accountForm.phoneNumber }}
        </div>
        <div class="col-md-4 form-group">
          {{ guideForm.country.label_tag }}
          {{ guideForm.country.errors }}
          {{ guideForm.country }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          {{ accountForm.last_name.label_tag }}
          {{ accountForm.last_name.errors }}
          {{ accountForm.last_name }}
        </div>
        <div class="col-md-4 form-group">
          {{ accountForm.email.label_tag }}
          {{ accountForm.email.errors }}
          {{ accountForm.email }}
        </div>
        <div class="col-md-4 form-group">
          {{ guideForm.city.label_tag }}
          {{ guideForm.city.errors }}
          {{ guideForm.city }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-8 form-group">
          {{ guideForm.address.label_tag }}
          {{ guideForm.address.errors }}
          {{ guideForm.address }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  <h2 class="col-md-10">Additional information</h2>
</div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      <div class="row">
          <div class="col-md-4 form-group">
            {{ guideForm.language.label_tag }}
            {{ guideForm.language.errors }}
            {{ guideForm.language }}
          </div>
          <div class="col-md-4 form-group">
            {{ guideForm.bankAccount.label_tag }}
            {{ guideForm.bankAccount.errors }}
            {{ guideForm.bankAccount }}
          </div>
          <div class="col-md-4 form-group">
            {{ guideForm.paymentMethod.label_tag }}
            {{ guideForm.paymentMethod.errors }}
            {{ guideForm.paymentMethod }}
          </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
  <h2 class="col-md-10">Cities</h2>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      
      {{ guideForm.cities }}
  
    </div>
  </div>
</div>

</form>


<button type="submit" class="btn btn-success" form="editguide">Update guide</button>
{% endblock %}
