<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table class="table table-condensed">
  <h1>Guides</h1>
  <tr>
    <th>City</th>
    <th>Country</th>
    <th>Address</th>
    <th>Language</th>
    <th>
      {% url 'manage_guides:add_guide' as add %}
      <a href="{{ add }}">
        <button class="btn btn-success">
          <i class="fa fa-plus"></i>
        </button>
      </a>
    </th>
  </tr>
  {% for guide in guides %}
  <tr>
    <td>{{ guide.city }}</td>
    <td>{{ guide.country }}</td>
    <td>{{ guide.address }} </td>
    <td>{{ guide.language }}</td>
    <td>
      {% url 'manage_guides:edit_guide' guide.id as edit %}
      {% url 'manage_guides:delete_guide' guide.id as delete %}
        <a href="{{ edit }}">
          <button class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
          </button>
        </a>
        <a href="{{ delete }}">
          <button class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </button>
        </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
