<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="empty_form" style="display:none">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="col-md-10">Add stop</h2>
    </div>
    <div class="panel-body no-padding-bottom">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopformset.empty_form.name.label_tag }}
            {{ stopformset.empty_form.name.errors }}
            {{ stopformset.empty_form.name }}
          </div>
          <div class="col-md-6 form-group">
            {{ stopformset.empty_form.suplier.label_tag }}
            {{ stopformset.empty_form.suplier.errors }}
            {{ stopformset.empty_form.suplier }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopformset.empty_form.startTime.label_tag }}
            {{ stopformset.empty_form.startTime.errors }}
            {{ stopformset.empty_form.startTime }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group">
            {{ stopformset.empty_form.duration.label_tag }}
            {{ stopformset.empty_form.duration.errors }}
            {{ stopformset.empty_form.duration }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 form-group">
            {{ stopformset.empty_form.description.label_tag }}
            {{ stopformset.empty_form.description.errors }}
            {{ stopformset.empty_form.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form action="" method="POST" id="edittour">
    {% csrf_token %}
  <h1>Edit tour</h1>
  <div class="panel panel-group">
    <div class="tab-content">
      <div class="row">
        <div class="col-md-6">
          <!--GENERAL PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">General information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-12 form-group">
                      {{ tourform.title.label_tag }}
                      {{ tourform.title.errors }}
                      {{ tourform.title }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    {{ tourform.city.label_tag }}
                    {{ tourform.city.errors }}
                    {{ tourform.city }}
                  </div>
                  <div class="col-md-6 form-group">
                    {{ tourform.kind.label_tag }}
                    {{ tourform.kind.errors }}
                    {{ tourform.kind }}
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                      {{ tourform.description.label_tag }}
                      {{ tourform.description.errors }}
                      {{ tourform.description }}
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDGENERAL PANEL-->
        </div>
        <div class="col-md-6">
          <!--EXTRA PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">Extra information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-4 form-group">
                      {{ tourform.duration.label_tag }}
                      {{ tourform.duration.errors }}
                      {{ tourform.duration }}
                  </div>
                  <div class="col-md-4 form-group">
                      {{ tourform.minGroup.label_tag }}
                      {{ tourform.minGroup.errors }}
                      {{ tourform.minGroup }}
                  </div>
                  <div class="col-md-4 form-group">
                      {{ tourform.maxGroup.label_tag }}
                      {{ tourform.maxGroup.errors }}
                      {{ tourform.maxGroup }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDEXTRA PANEL-->
          <!--PRICE PANEL-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="col-md-6">Price information</h2>
            </div>
            <div class="panel-body no-padding-bottom">
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-6 form-group">
                      {{ tourform.pricePerson.label_tag }}
                      {{ tourform.pricePerson.errors }}
                      {{ tourform.pricePerson }}
                  </div>
                  <div class="col-md-6 form-group">
                      {{ tourform.priceChild.label_tag }}
                      {{ tourform.priceChild.errors }}
                      {{ tourform.priceChild }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ENDPRICE PANEL-->
        </div>
      </div>
    </div>
  </div>
  {{ stopformset.management_form }}
  <div id="form_set">
  {%for stopform in stopformset%}

    <div class="panel panel-default">
      {{ stopform.id }}
      <div class="panel-heading">
        <h2 class="col-md-10">Add stop</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ stopform.name.label_tag }}
              {{ stopform.name.errors }}
              {{ stopform.name }}
            </div>
            <div class="col-md-6 form-group">
              {{ stopform.suplier.label_tag }}
              {{ stopform.suplier.errors }}
              {{ stopform.suplier }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              {{ stopform.startTime.label_tag }}
              {{ stopform.startTime.errors }}
              {{ stopform.startTime }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 form-group">
              {{ stopform.duration.label_tag }}
              {{ stopform.duration.errors }}
              {{ stopform.duration }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 form-group">
              {{ stopform.description.label_tag }}
              {{ stopform.description.errors }}
              {{ stopform.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endfor%}
  </div>

    <input type="button" class="btn btn-primary" value="add more stop" id="add_more">
    <input type="button" class="btn btn-danger" value="delete last stop" id="delete">
    <script>
        $("#add_more").click(function() {
            var form_idx = $('#id_stop_set-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_stop_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });

        $("#delete").click(function() {
          var form_idx = $('#id_stop_set-TOTAL_FORMS').val();
          if ($('#id_stop_set-TOTAL_FORMS').val() > 1 && $('.panel.panel-default:last').id !== 'empty_form')
          {
              $('.panel.panel-default:last').remove();
              $('#id_stop_set-TOTAL_FORMS').val(parseInt(form_idx) - 1);
          }
        });
    </script>

<!--ENDL PANEL-->
</form>

<button type="submit" class="btn btn-success" form="edittour" style="float:right">Update tour</button>
{% endblock %}
