<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">
  <div class="col-xs-6 col-md-4">
    <h1>Tours</h1>
  </div>
  <div class="col-xs-6 col-md-5" style="margin-top: 20px">
    <form id="formsearch" action="" method="post">
      {% csrf_token %}
      <input name="search" type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
  <div class="col-xs-6 col-md-3" style="margin-top: 20px">
    <button type="submit" form="formsearch" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>

<table class="table table-condensed">

  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Type</th>
    <th>Duration</th>
    <th>Stops</th>
    <th>
      {%url 'manage_tours:addtour' as add%}
      <a href="{{add}}"><button class="btn btn-success">Add new tour</button></a>
    </th>
  </tr>
  {% for row in Tours %}
  <tr>
      <td>{{row.title}}</td>
      <td>{{row.city}}</td>
      <td>{{row.kind}} </td>
      <td>{{row.duration}}</td>
      {%url 'manage_tours:showstops' row.id as show%}
      <td><a href="{{show}}"><button class="btn btn-info">show</button></a></td>
      <td>
        {%url 'manage_tours:edittour' row.id as edit%}
        {%url 'manage_tours:delete' row.id as delete%}
        <a href="{{edit}}"><button class="btn btn-primary">edit</button></a>
        <a href="{{delete}}"><button class="btn btn-danger">delete</button></a>
      </td>
  </tr>
  {% endfor %}
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% endblock %}
