<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table class="table table-condensed">
  <h1>Suppliers</h1>
  <tr>
    <th>Company</th>
    <th>Address</th>
    <th>Mobile phone</th>
    <th>Post code</th>
    <th>Max group</th>
    <th>City</th>
    <th>
      {%url 'manage_suppliers:addsupplier' as add%}
      <a href="{{add}}"><button class="btn btn-success"><i class="fa fa-plus"></i></button></a>
    </th>
  </tr>
  {% for row in Suppliers %}
  <tr>
      <td>{{row.name}}</td>
      <td>{{row.address}}</td>
      <td>{{row.phoneNumber}} </td>
      <td>{{row.postCode}}</td>
      <td>{{row.maxGroup}}</td>
      <td>{{row.city}}</td>
      <td>
        {%url 'manage_suppliers:editsupplier' row.id as edit%}
        {%url 'manage_suppliers:delete' row.id as delete%}
        <a href="{{edit}}"><button class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button></a>
        <a href="{{delete}}"><button class="btn btn-danger"><i class="fa fa-trash-o"></i></button></a>
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
