<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<form action="" method="POST" id="editguide">
  {% csrf_token %}
 <h1>Edit guide</h1>
  <div class="panel panel-default">

  <div class="panel-heading">
  <h2 class="col-md-10">General information</h2>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
                <div class="row">
                    <div class="col-md-4 form-group">
                      {{ form.firstName.label_tag }}
                      {{ form.firstName.errors }}
                      {{ form.firstName }}
                    </div>
                    <div class="col-md-4 form-group">
                      {{ form.phoneNumber.label_tag }}
                      {{ form.phoneNumber.errors }}
                      {{ form.phoneNumber }}
                    </div>
                    <div class="col-md-4 form-group">
                      {{ form.country.label_tag }}
                      {{ form.country.errors }}
                      {{ form.country }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                      {{ form.lastName.label_tag }}
                      {{ form.lastName.errors }}
                      {{ form.lastName }}
                    </div>
                    <div class="col-md-4 form-group">
                      {{ form.email.label_tag }}
                      {{ form.email.errors }}
                      {{ form.email }}
                    </div>
                    <div class="col-md-4 form-group">
                      {{ form.city.label_tag }}
                      {{ form.city.errors }}
                      {{ form.city }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-8 form-group">
                      {{ form.address.label_tag }}
                      {{ form.address.errors }}
                      {{ form.address }}
                    </div>
                </div>
          </div>
        </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
  <h2 class="col-md-10">Additional information</h2>
</div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      <div class="row">
          <div class="col-md-4 form-group">
            {{ form.language.label_tag }}
            {{ form.language.errors }}
            {{ form.language }}
          </div>
          <div class="col-md-4 form-group">
            {{ form.bankAccount.label_tag }}
            {{ form.bankAccount.errors }}
            {{ form.bankAccount }}
          </div>
          <div class="col-md-4 form-group">
            {{ form.paymentMethod.label_tag }}
            {{ form.paymentMethod.errors }}
            {{ form.paymentMethod }}
          </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
  <h2 class="col-md-10">Cities</h2>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">

    </div>
  </div>
</div>

</form>


<button type="submit" class="btn btn-success" form="editguide">Update guide</button>
{% endblock %}
