<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table class="table table-condensed">
  <h1>Guides</h1>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Mobile phone</th>
    <th>Cities</th>
    <th>
      {%url 'manage_guides:addguide' as add%}
      <a href="{{add}}"><button class="btn btn-success">Add new guide</button></a>
    </th>
  </tr>
  {% for row in Guides %}
  <tr>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.phoneNumber}} </td>
      <td>{{row.city}}</td>
      <td>
        {%url 'manage_guides:editguide' row.id as edit%}
        {%url 'manage_guides:delete' row.id as delete%}
        <a href="{{edit}}"><button class="btn btn-primary">edit</button></a>
        <a href="{{delete}}"><button class="btn btn-danger">delete</button></a>
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
